.nav {
    display: flex;
    padding: 22px;
    font-weight: 200;
    font-size: 40px;
    justify-content: center;
}

.item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0;
}

.item:not(:last-child) {
    padding-right: 22px;

}